:root {
    --linear-gradient:207.8deg, #201E1C 16.69%, #F7931A 100%;
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
    }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family:'DM Sans',sans-serif;
    scroll-behavior: smooth;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 324px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img{
    width: 150px;
    height: 24px;
    margin-top:60px ;
    align-self: center;
}

.header-title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

header .header-title-container h1{
    color: var(--just-white);
    font-size: 2.5rem;
    font-weight:500;
    line-height: 2.6rem;
    text-align: center;
}

header .header-title-container p{
    color: var(--soft-orange);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.8rem;
    text-align: center;
    margin-top: 25px;
}

.header-title-container .header-button{
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 5px;
    border: none;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);

}

.header-button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url(./assets/icons/down-arrow.svg);
}

main{
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color:var(--off-white);
}

.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container-title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container-title h2{
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-align: center;
}

.main-exchange-container-title p {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    color:#4c4c4c;
    margin-top: 2.4rem;
}

.background-img img{
    width: 195px;
    height: 195px;
    margin-bottom: 40px;
}

.main-currency-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main-currency-table .currency-table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    margin-top: 48px;
    color: var(--bitcoin-orange);
    
    
}

.currency-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency-table--container table {
    width: 100%;
    height: 100%;
}
.currency-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color:#757575;
    background-color: var(--just-white);
}

.currency-table--container .table__top-left {
    border-radius: 15px 0 0 0;
    text-align: left;
    padding-left: 12px;
}
.currency-table--container .table__top-right {
    border-radius: 0 15px 0 0;
}
.currency-table--container .table__bottom-left {
    border-radius: 0 0 0 15px;
    text-align: left;  
   
}

.currency-table--container .table-left{
    text-align: left;
    padding-left: 12px;
}
.currency-table--container .table__bottom-right {
    border-radius: 0 0 15px 0;
}
.currency-table--container .table__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.currency-table--container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icons/trending-down.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table--container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icons/trending-up.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table--date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}
.currency-table--date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
}

 .date-azul{
    background-color: var(--soft-blue);
}

.main-currency-table .currency-table--title-azul{
    color: #1a9af7;
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    margin-top: 48px;
}

.main-product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--black);

}

.product-detail-logo{
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url(./assets/icons/batata.svg);
}

.main-product-detail .product-detail-title h2{
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-align: center;
    color:var(--just-white) ;
    margin-top: 64px;
    margin-bottom: 24px;
}

.main-product-detail .product-detail-title p{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    color: #454545;
    margin-bottom: 32px;

}
.product-detail-card{
    width: 90%;
    height: 150px;
    min-width: 288px;
    max-width: 400px;
    margin: 10px auto;
    padding: 15px;
    background-color: var(--warm-black);
}


.product-detail-card .clock {
   
    background-image: url("./assets/icons/clock.svg");
}

.product-detail-card .eye {
   
   background-image: url(./assets/icons/eye.svg);
}

.product-detail-card .money {
   
    background-image: url("./assets/icons/eye.svg");
}

.product-detail-card .check {
   
    background-image: url("./assets/icons/check-circle.svg");
}




.product-detail-card .icon-card{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.product-detail-card .product-card-title{
    color: var(--just-white);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin-top: 15px;
}
.product-detail-card .product-card-body{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--grey);
    margin-top: 10px;
}

.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 60vh;
    background-image: url("./assets/img/bitcoinbaby2x.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bitcoin-img-container h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    text-align: center;
}

.main-plans-container{
    width: 100%;
    min-width: 320px;
    text-align: center;
    padding-bottom: 70px;
}

.plans-title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;

}
.main-plans-container .plans-title h2{
    color: var(--black);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    margin-top: 64px;
}
.main-plans-container .plans-title p{
   font-size: 1.4rem;
   line-height: 1.8rem;
   color:#757575;
   margin: 24px auto;
}

.plans-container-card{
    width: 70%;
    position: relative;
    scroll-snap-align: center;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 50px 15px 0;
    padding: 6px 2px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow:0 4px 8px rgba(89, 73, 30, 0.16) ;
}

.plans-container-slider{
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plans-container-slider::-webkit-scrollbar {
    background-color: var(--soft-orange);
    height: 3px;
  }
  .plans-container-slider::-webkit-scrollbar-thumb {
    background-color: var(--bitcoin-orange);
  }



.plans-container-slider .recomended{
        position: absolute;
        width: 120px;
        height: 31px;
        top: -15px;
        left: calc(50% - 60px);
        font-size: 1.2rem;
        padding: 6px;
        background-color: var(--bitcoin-orange);
        border-radius: 8px;
        color: var(--just-white);
    }
    .plan-card-title {
        padding-top: 30px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.8rem;
        color: var(--black);
    }

    .plan-card-price{
        padding: 5px 0;
        font-size:5.2rem ;
        line-height: 6.3rem;
        letter-spacing: -0.08rem;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .plan-card-price sup{
        margin-right: 7px;
        padding-top: 9px;
        font: 500 1.2rem/1.45rem 'Inter', 'sans serif';
        color: #363636;
    }

    .plan-card-saving {
        font-size: 1.2rem;
        color: #757575;
        margin-bottom: 20px;
    }

    .plan-card-ca{
        border: 2px solid var(--bitcoin-orange);
        width: 150px;
        height: 48px;
        border-radius: 4px;
        background-color: var(--just-white);
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        margin-bottom:24px;
    }

    .plan-card-ca span {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url("./assets/icons/orange-right-arrow.svg");
        vertical-align: text-bottom;
    }

    .card-orange{
        background-color: var(--bitcoin-orange);
    }
    .card-orange .recomended{
        background-color:var(--warm-black);
    }

    .card-black{
        background-color: var(--warm-black);
    }
    .card-black .recomended{
        background-color: var(--bitcoin-orange);
        color: #201E1C;
    }

    .card-black .plan-card-title{
        color: #e7f5ff;
    }
    .card-black .plan-card-price{
        color: var(--just-white);
    }

    .card-black .plan-card-ca{
        background-color: var(--warm-black);
        color: var(--just-white);
    }
    .card-black .black-sup{
        color: var(--just-white);
    }

    .card-black .plan-card-saving{
        color: var(--off-white);
    }

    .card-orange .plan-card-saving{
        color: var(--off-white);
    }

    .card-orange .plan-card-ca{
        background-color: var(--bitcoin-orange);
        border: 2px solid var(--black);
    }

    .card-orange span{
        filter:brightness(10%);
    }

    footer {
        display: flex;
        width: 100%;
        height: 150px;
        min-width: 320px;
        background-color: var(--bitcoin-orange);
    }

    footer section{
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
    }

    footer .left ul {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.8rem;
        list-style: none;
    }

    .left li {
        margin: 10px 0;
    }
    .left a {
        text-decoration: none;
        color: var(--just-white);
    }




